<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Loop Books</title>
</head>
<body>
<div class="navbar">
    <div class="navbar_margin">
        <div class="navbar_left">
            <h2>
                Loop<span style="color: #2666CF;">.</span>
            </h2>
        </div>
        <div class="navbar_right">
            <a href="#">Home</a>
            <a href="#">New</a>
            <a href="#"><i class="fa fa-shopping-cart"></i></a>
            <a href="#"><i class="fa fa-user"></i></a>
        </div>
    </div>
</div>
<div class="banner">
    <a href="#" class="book One">1</a>
    <a href="#" class="book Two">2</a>
    <a href="#" class="book Three">3</a>
    <a href="#" class="book Four">4</a>
    <a href="#" class="book Five">5</a>
    <a href="#" class="book Six">6</a>
    <a href="#" class="book Seven">7</a>
    <a href="#" class="book Eight">8</a>
    <a href="#" class="book Nine">9</a>
    <a href="#" class="book Ten">10</a>
    <a href="#" class="book Eleven">11</a>
    <a href="#" class="book Twelve">12</a>
</div>



<footer>
    All Rights Reserved @2022-@2023
</footer>

</body>
</html>