@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;700&display=swap');


*
{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

html
{
    overflow-x: hidden;
}
.navbar
{
    height: 10vh;
    width: 100vw;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar_margin
{
    height: 100%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar_left
{
    height: 100%;
    width: 50%;
    color: #2C3333;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Poppins', calibri;
    font-weight: 700;
}
.navbar_left h2
{
    font-size: 32px;
}
.navbar_right
{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}
.navbar_right a
{
    margin-right: 80px;
    font-size: 20px;
    font-family: 'Poppins';
    font-weight: 200;
    text-decoration: none;
    color: #2C3333;
}

.banner
{
    display: grid;
    margin-top: 5vh;
    grid-template-columns: repeat(auto-fit, minmax(500px,1fr));
    grid-auto-rows: 350px;
    gap: 10px;
}
.book
{
    background-color: #395B64;
}
.One{
    background-size: cover;
    grid-row: span 2 /auto;
  }

  .Twelve{
    background-size: cover;
    grid-column: span 3 /auto;
  }
  footer
  {
      height: 10vh;
      width: 100vw;
      background-color: #F5F2E7;
      color: #395B64;
      display: flex;

    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
      align-items: center;
      justify-content: center;
      margin-top: 5vh;
      font-family: 'poppins';
      font-weight: 100;
  }