@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;700&display=swap");

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  position: relative;
}
.navbar {
  height: 10vh;
  top: 0%;
  width: 100vw;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
}
.navbar_margin {
  height: 100%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar_left {
  height: 100%;
  width: 50%;
  color: #2c3333;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: "Poppins", calibri;
  font-weight: 700;
}
.navbar_left h2 {
  font-size: 32px;
}
.navbar_right {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.navbar_right a {
  margin-right: 80px;
  font-size: 20px;
  font-family: "Poppins";
  font-weight: 200;
  text-decoration: none;
  color: #2c3333;
}

.banner {
  display: grid;
  margin-top: 5vh;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  grid-auto-rows: 400px;
  gap: 10px;
}
.book {
  background-color: #395b64;
}
.navbar_right a:nth-child(3) {
  padding: 10px 20px;
  border-radius: 50%;
  color: white;
  background-color: #395b64af;
}

footer {
  height: 10vh;
  width: 100vw;
  background-color: #f5f2e7;
  color: #395b64;
  display: flex;

  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  align-items: center;
  justify-content: center;
  margin-top: 5vh;
  font-family: "poppins";
  font-weight: 100;
}
